body {
    background:rgb(250, 210, 245) url(img/money.jpg) repeat-y left;
    margin:0 150px;
   }
   h2 {
    text-align:center;
    font:bold 1.5em "Cooper Black";
    color:rgb(165, 42, 118);
   }


   fieldset {
    background-color:rgb(42, 5, 85);
    width:30%;
    position:relative;
    left:50%;
    margin:1em 0;
    margin-left:-20%;
    padding:1em;
    border:1px solid rgb(255, 0, 179);
   }
   span, label, legend {
    font:bold 10pt "Bell MT";
    color:rgb(255, 0, 191);
    background-color:rgb(46, 5, 85);
   }
   label {
    display:block;
   }
   input.inputField {
    width:200px;
    background-color:rgb(250, 205, 231);
    font:bold 10pt Perpetua,sans-serif;
    color:rgb(100, 0, 47);
   }
   .inputField:hover, .inputField:focus {
    background-color:rgb(240, 140, 145); 
   
    }
   input.inputButton {
    width:30%;
    background-color:rgb(255, 0, 179);
    color:rgb(100, 0, 87);
    font:bold 10pt "Myriad Pro",Verdana,sans-serif;
    position:relative;
    left:12%;
    margin:4px 10px;
   }
   .inputButton:hover, .inputButton:focus{
    background-color:rgb(255, 0, 200);
    color:rgb(100, 0, 67);
   }
  


   
   